# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [7]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')

In [8]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [9]:
chipo.item_price = chipo.item_price.apply(lambda x : float(x[1:]))

In [13]:
chipo.drop_duplicates(['item_name', 'quantity'], inplace=True)
len(chipo[(chipo.item_price>10) & ( chipo.quantity==1)])

12

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [14]:
chipo[['item_name', 'item_price']]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
18                              Canned Soda        2.18
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
135                      Chicken Salad Bowl       22.50
...                                     ...         ...
1620    Chips and Tomatillo Red Chili Salsa        5.90
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
1882           Chips and Fresh Tomato Salsa        5.90
1903                  Barbacoa Crispy Tacos       18.50
2235                            Canned Soda        4.36
2441                          Bottled Water        7.50
2550    Chips and Tomatillo-Red Chili Salsa        4.78
2581                       Carnitas Burrito       18.50
2645                    Chips and Guacamole       13.35
2656  Chips and Tomatillo-Green Chili Salsa        4.78
2874                     Steak Crispy Tacos       17.98
2936                                  Chips        6.45
2944                          Side of Chips        5.07
2972    Chips and Tomatillo-Red Chili Salsa        7.17
3334                             Steak Bowl       26.07
3389                      6 Pack Soft Drink       12.98
3480                          Carnitas Bowl       35.25
3598           Chips and Fresh Tomato Salsa       44.25
3599                          Bottled Water       10.50
3601                         Veggie Burrito       33.75
3634                        Chicken Burrito       26.25
3750                         Carnitas Salad        8.99
3887                          Side of Chips       13.52
3889                      Veggie Soft Tacos       16.98
3890                  Carnitas Crispy Tacos       17.98
3973                      Canned Soft Drink        5.00
4152                          Bottled Water       15.00
4354                       Steak Soft Tacos       18.50
4489                    Chips and Guacamole       17.80

[103 rows x 2 columns]

### Step 6. Sort by the name of the item

In [15]:
chipo.item_name.sort_values()

298         6 Pack Soft Drink
3389        6 Pack Soft Drink
39              Barbacoa Bowl
21           Barbacoa Burrito
1903    Barbacoa Crispy Tacos
168     Barbacoa Crispy Tacos
1229      Barbacoa Salad Bowl
56        Barbacoa Soft Tacos
2441            Bottled Water
4152            Bottled Water
818             Bottled Water
540             Bottled Water
1425            Bottled Water
3599            Bottled Water
34              Bottled Water
445                      Bowl
673                      Bowl
510                   Burrito
18                Canned Soda
2235              Canned Soda
28                Canned Soda
263         Canned Soft Drink
3973        Canned Soft Drink
492         Canned Soft Drink
689         Canned Soft Drink
33              Carnitas Bowl
3480            Carnitas Bowl
506             Carnitas Bowl
2581         Carnitas Burrito
27           Carnitas Burrito
                ...
520              Crispy Tacos
1                        Izze
2            Nantucket Nectar
601          Nantucket Nectar
1414                    Salad
3887            Side of Chips
6               Side of Chips
2944            Side of Chips
3334               Steak Bowl
910                Steak Bowl
54                 Steak Bowl
1255            Steak Burrito
148             Steak Burrito
7               Steak Burrito
92         Steak Crispy Tacos
2874       Steak Crispy Tacos
664               Steak Salad
606          Steak Salad Bowl
281          Steak Salad Bowl
8            Steak Soft Tacos
4354         Steak Soft Tacos
62                Veggie Bowl
846               Veggie Bowl
57             Veggie Burrito
3601           Veggie Burrito
1653      Veggie Crispy Tacos
1694             Veggie Salad
186         Veggie Salad Bowl
3889        Veggie Soft Tacos
738         Veggie Soft Tacos
Name: item_name, Length: 103, dtype: object

### Step 7. What was the quantity of the most expensive item ordered?

In [17]:
chipo.sort_values(by=['item_price']).tail(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [18]:
chipo[chipo.item_name=='Veggie Salad Bowl']

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25

### Step 9. How many times people orderd more than one Canned Soda?